<app-header title="Login"></app-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-8 offset-2>
                <form [formGroup]="signinForm" (ngSubmit)="login()" novalidate>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" name="email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="email.invalid && (email.touched || formSubmitted)" class="form-errors" no-lines>
                        <div class="error" *ngIf="email.errors.required">Email is required</div>
                        <div class="error" *ngIf="email.errors.email">Wrong format for E-mail</div>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" name="password" formControlName="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="password.invalid && (password.touched || formSubmitted)" class="form-errors" no-lines>
                        <div class="error" *ngIf="password.errors.required">Password is required</div>
                    </ion-item>

                    <ion-item text-center no-lines>
                        <button ion-button type="submit" (click)="login()">Sign in</button>
                        <button ion-button type="button" (click)="signup()">Sign up</button>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
