ion-nav {
    
    ion-content {
        .fixed-content, .scroll-content {
            background: $background;
        }
    }
    
    ion-content.content-md {
        .fixed-content, .scroll-content {
            top: 56px;
        }
    }

    ion-content.content-ios, ion-content.content-wp {
        .fixed-content, .scroll-content {
            top: 46px;
        }
    }
}