ion-header {
    ion-title {
        line-height: 3.5rem;
        display: inline-block;
    }

    img {
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
    }
}
