<app-header title="Registration"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-8 offset-2>
                <form [formGroup]="signupForm" (ngSubmit)="submit()"  novalidate>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input name="email" formControlName="email" type="email"></ion-input>
                    </ion-item>
                    <ion-item class="form-errors" *ngIf="email.invalid && (email.touched || formSubmitted)" no-lines>
                        <div class="error" *ngIf="email.errors.required">Email is required</div>
                        <div class="error" *ngIf="email.errors.pattern">Invalid email</div>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input name="password" formControlName="password" type="password"></ion-input>
                    </ion-item>
                    <ion-item class="form-errors" *ngIf="password.invalid && (password.touched || formSubmitted)" no-lines>
                        <div class="error" *ngIf="password.errors.required">Password is required</div>
                        <div class="error" *ngIf="password.errors.minlength">Password is too short</div>
                        <div class="error" *ngIf="password.errors.maxlength">Password is too long</div>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Confirm password</ion-label>
                        <ion-input name="passwordConfirmation" formControlName="passwordConfirmation" type="password"></ion-input>
                    </ion-item>
                    <ion-item class="form-errors"
                        *ngIf="passwordConfirmation.invalid && (passwordConfirmation.touched || formSubmitted)" no-lines>
                        <div class="error" *ngIf="passwordConfirmation.errors.required">Confirm your password</div>
                        <div class="error" *ngIf="passwordConfirmation.errors.matchPassword">Password does not match</div>
                    </ion-item>

                    <ion-item text-center no-lines>
                        <button ion-button small type="submit">Create new account</button>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
